{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Schedulr</title>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.css' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    
    <link rel='stylesheet' href='{% static "styles.css" %}' />
    <link rel='stylesheet' href='{% static "cal/cal.css" %}' />
    <link rel='stylesheet' href='{% static "cal/jquery.timepicker.css" %}' />
    <link rel='stylesheet' href='{% static "cal/spectrum.css"%}' />

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js'></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src='{% static "cal/jquery.timepicker.min.js" %}'> </script>
    <script src='{% static "cal/spectrum.js" %}'></script>

  
    

    <script type="text/javascript">
      var event_type_choices = {
        {% for key, value in event_type_choices %}
          {{ key|default:"null" }}: "{{ value }}",
        {% endfor %}
      };

      var message_list = [];
      {% for message in messages %}
      message_list.push({ msg: "{{ message|escapejs }}", tags: "{{ message.tags }}" });
      {% endfor %}
    </script>

    <script type="text/javascript">
    var DATETIME_FORMAT = 'YYYY-MM-DD HH:mm:SS';

    function reset_error_ui(form) {
      form.find('input:text').removeClass('ui-state-error');
      form.find('.form-error-text').hide();
    }

    function display_form_errors(errorResponse, form, genericMessage) {
      var json = $.parseJSON(errorResponse);
      if (json.error) {
        $.each(json.error, function(index, value) {
          var textbox = form.find('.textbox-' + index);
          if (textbox) textbox.addClass('ui-state-error');
          var err_container = form.find('.label-' + index);
          if (err_container) {
            err_container.text(value[0]);
            err_container.show();
          }
        });
      } else {
        $.notify(genericMessage);
      }
    }

    function add_course(course_str) {
      var course_str_box = $('#course_str');
      if (course_str === undefined) {
        course_str = course_str_box.val();
      }
      if (!course_str) {
        course_str_box.notify('Please enter search string!', { 'position': 'bottom' });
        return;
      }

      $.get('/cal/get_sections', { course_str: course_str }, function(data) {
        var add_course_dialog = $('#add_course_dialog');
        add_course_dialog.dialog('close');

        if (data.error) {
          $.notify('Course "' + course_str + '" not found.');
        } else if (data.sections.length == 0) {
          $.notify('Course "' + course_str + '" is not offered this quarter.');
        } else {
          $('#course_title').text(data.course_title);
          var sections_div = $('#sections_div');
          sections_div.empty();
          $.each(data.sections, function(i, item) {
            var p = $('<p />').appendTo(sections_div);

            var ckbox_id = 'section' + item.section_id;
            var checked = (item.component == 'LEC');
            $('<input />', {
              type: 'checkbox', name: 'sections', id: ckbox_id, value: item.section_id,
              checked: checked
            }).appendTo(p);
            var description = 'Section #' + item.section_number +
              ' (' + item.component + '): ' + item.schedule;
            if (item.instructors) {
              description += ' | ' + item.instructors;
            }
            $('<label />', { 'for': ckbox_id, text: description }).appendTo(p);
          });
          add_course_dialog.dialog('open');
        }
      }, 'json');
    }

    function initialize_edit_auto_event_dialog() {
      var autoEventForm = $('#edit-auto-event');
      reset_error_ui(autoEventForm);
      $('#edit_auto_event_dialog').dialog('open');    }

    // TODO (backend): When the user clicks submit btn in the edit_auto_event_dialog, send
    // data to the backend to update the default start/end/color for auto 
    // generated events
    function edit_auto_event_submit() {
      var event_type_select = $('#edit-auto-event').find('#id_event_type');
      var event_type = event_type_select.val();
      if (event_type != "") {
        var start_time = $('#autoStartTimePicker').timepicker('getTime', new Date());
        var end_time = $('#autoEndTimePicker').timepicker('getTime', new Date());

        //TODO: post to backend, add color picker
      }
    }

    $(document).ajaxError(function(event, request, settings) {
      if (request.readyState == 0) {
        $.notify("Connection failed. Please check your internet connection.");
      } else if (request.status == 500) {
        $.notify("Something has gone wrong on the server side (500). Please retry.");
      } else if (request.status == 404) {
        $.notify("Event not found (404). Please retry.");
      }
    });

    $(document).ready(function() {
      $.notify.defaults({
        className: 'info',
        globalPosition: 'top center',
      });

      $.each(message_list, function(_, value) {
        $.notify(value.msg, value.tags);
      });

      /* Set up CSRF token for AJAX requests. */
      /* Taken from https://docs.djangoproject.com/en/1.10/ref/csrf/#ajax. */
      var csrftoken = Cookies.get('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      $('#course_str').autocomplete({
        source: '{% url "cal:autocomplete_course" %}',
        select: function(event, ui) {
          add_course(ui.item.value);
          return true;
        }
      });

      $('#calendar').fullCalendar({
        height: 'parent',
        nowIndicator: true,
        header: {
          left: 'prev, next, today',
          center: 'title',
          right: 'agendaWeek,agendaDay,month'
        },
        eventClick: function(calEvent, jsEvent, view) {
          if (calEvent.source.editable === false) {
            return false;
          }

          var editEventForm = $('#editEventForm');
          reset_error_ui(editEventForm);
          $('#editEventTitle').val(calEvent.title); //Defaults to the event's title
          var start = calEvent.start.local().toDate();
          var end = calEvent.end.local().toDate();
          var color = calEvent.color;

          $('#startTimePicker').timepicker('setTime', start); //Defaults to the event's current start time
          $('#endTimePicker').timepicker('setTime', end);
          
          $('#editEventStartDate').datepicker('setDate', start); //Defaults to the event's current start date
          $('#editEventEndDate').datepicker('setDate', end); //Defaults to the event's current start date
      
          $('#colorpicker-edit').spectrum("set", color);
          editEventForm.off(); //Remove all previous handlers from the buttons
          $('#deleteEventBtn').off();
          var event_type_select = editEventForm.find('#id_event_type');
          event_type_select.val(calEvent.event_type);

          editEventForm.submit(function() {
            reset_error_ui(editEventForm);
            var title = $('#editEventTitle').val();
            var startDate = $('#editEventStartDate').datepicker("getDate");
            var start_time = $('#startTimePicker').timepicker('getTime', start);
            var endDate = $('#editEventEndDate').datepicker("getDate");
            var end_time = $('#endTimePicker').timepicker('getTime', end);
            var event_type = event_type_select.val();
            var color = $('#colorpicker-edit').val();

            var event_start = startDate.toString().substring(0, 3) + ',' + startDate.toString().substring(7, 10) + startDate.toString().substring(3, 7) +  startDate.toString().substring(10, 15) +   start_time.toString().substring(15, 24);
            var event_end = endDate.toString().substring(0, 3) + ',' + endDate.toString().substring(7, 10) + endDate.toString().substring(3, 7) +  endDate.toString().substring(10, 15) + end_time.toString().substring(15, 24);

            $.post('/cal/edit_event_abs/' + calEvent.id,
                { name: title, 
                  start_time: moment(new Date(event_start)).format(DATETIME_FORMAT),
                  end_time: moment(new Date(event_end)).format(DATETIME_FORMAT),
                  event_type: event_type,
                  color: color }
                ).done(function(data) {
              $('#calendar').fullCalendar('refetchEvents');
              $('#dialog').dialog("close");
            }).fail(function(jqXHR, textStatus, errorThrown) {
              display_form_errors(jqXHR.responseText, editEventForm,
                  "Edit event failed. Please retry.");
            });

            return false;
          });

          $('#deleteEventBtn').click(function() {
            $.post('/cal/delete_event/' + calEvent.id, function() {
              $('#calendar').fullCalendar('refetchEvents');
            });
            $('#dialog').dialog("close");
            $('#createEventDialog').dialog("close");
          });

          $('#dialog').dialog('open');
        },
        eventSources: [
          '/cal/get_event_feed', //Fetches events as a json feed from this url
          {
            url: '/cal/get_smart_scheduling_feed',
            className: 'smart-scheduled-event',
            editable: false,
          }
        ],
        defaultView: 'agendaWeek',
        navLinks: true,
        selectable: true,
        selectHelper: true,
        select: function(start, end, jsEvent) {
          var createEventForm = $('#createEventForm');
          createEventForm.find('#id_event_type').val(null);
          reset_error_ui(createEventForm);

          $('#createEventTitle').val('');
          var start_date_obj = start.local().toDate();
          var end_date_obj = end.local().toDate();
          $('#createEventStartTimePicker').timepicker('setTime', start_date_obj); //Defaults to the event's current start time
          $('#createEventEndTimePicker').timepicker('setTime', end_date_obj);

          $('#createEventStartDate').datepicker('setDate', start_date_obj); //Defaults to the event's current start date
          $('#createEventEndDate').datepicker('setDate', end_date_obj); //Defaults to the event's current start date
          $('#colorpicker-create').spectrum("set", 'red');

          createEventForm.off(); //Remove all previous handlers from the buttons

          createEventForm.submit(function() {
            reset_error_ui(createEventForm);

            var title = $('#createEventTitle').val();
            
            var startDate = $('#createEventStartDate').datepicker("getDate");
            var start_time = $('#createEventStartTimePicker').timepicker('getTime', start);
            var endDate = $('#createEventEndDate').datepicker("getDate");
            var end_time = $('#createEventEndTimePicker').timepicker('getTime', end);
            var event_type = createEventForm.find('#id_event_type').val();
            var color = $('#colorpicker-create').val();

            var event_start = startDate.toString().substring(0, 3) + ',' + startDate.toString().substring(7, 10) + startDate.toString().substring(3, 7) +  startDate.toString().substring(10, 15) +   start_time.toString().substring(15, 24);
            var event_end = endDate.toString().substring(0, 3) + ',' + endDate.toString().substring(7, 10) + endDate.toString().substring(3, 7) +  endDate.toString().substring(10, 15) + end_time.toString().substring(15, 24);

            $.post('/cal/add_event', {
              name: title, 
              start_time: moment(new Date(event_start)).format(DATETIME_FORMAT),
              end_time: moment(new Date(event_end)).format(DATETIME_FORMAT),
              event_type: event_type,
              color: color
            }, function(data) {
              $('#createEventDialog').dialog("close");
              $('#calendar').fullCalendar('unselect');
              $('#calendar').fullCalendar('refetchEvents');
            }, 'json').fail(function(jqXHR, textStatus, errorThrown) {
              display_form_errors(jqXHR.responseText, createEventForm,
                  "Create event failed. Please retry.");
            });

            return false;
          });

          $('#createEventDialog').dialog('open');
        },
        eventResize: function(calEvent, delta, revertFunc) {
          $.post('/cal/edit_event_rel/' + calEvent.id,
            { duration_delta: delta.asSeconds() }
          ).done(function(data) {
            $('#calendar').fullCalendar('refetchEvents');
            $('#dialog').dialog("close");
            $('#createEventDialog').dialog("close");
          }).fail(function(jqXHR, textStatus, errorThrown) {
            revertFunc();
            $.notify("Edit event failed. Please try again.");
          });
        },
        eventDrop: function(calEvent, delta, revertFunc) {
          $.post('/cal/edit_event_rel/' + calEvent.id,
            { name: calEvent.title, time_delta: delta.asSeconds() }
          ).done(function(data) {
            $('#calendar').fullCalendar('refetchEvents');
            $('#dialog').dialog("close");
          }).fail(function(jqXHR, textStatus, errorThrown) {
            revertFunc();
            $.notify("Edit event failed. Please try again.");
          });
        },
        editable: true,
        eventLimit: true,
        allDaySlot: false,
        unselectAuto: false,
      });

     
      $('#createEventDialog').dialog({ autoOpen: false, close: function() {
        $('#calendar').fullCalendar('unselect');
      }});
      $('#createEventStartDate').datepicker({defaultDate: 0});
      $('#edit_auto_event_dialog').dialog({ autoOpen: false});
      $('#createEventStartTimePicker').timepicker({ 'scrollDefault': 'now' });
      $('#createEventEndDate').datepicker({defaultDate: 0});
      $('#createEventEndTimePicker').timepicker({ 'scrollDefault': 'now' });
      $('#colorpicker-create').spectrum({
          showPaletteOnly: true,
          showPalette:true,
          hideAfterPaletteSelect:true,
          color: 'red',
          palette: [
              ['hotpink', 'crimson', 'red', 'orangered', 'coral', 'yellow'],
              ['seagreen', 'green', 'turquoise', 'aqua', 'rebeccapurple', 'indigo']
          ]
      });

      $('#dialog').dialog({ autoOpen: false });
      $('#editEventStartDate').datepicker({defaultDate: 0});
      $('#startTimePicker').timepicker({ 'scrollDefault': 'now' });
      $('#editEventEndDate').datepicker({defaultDate: 0});
      $('#endTimePicker').timepicker({ 'scrollDefault': 'now' });
      $('#colorpicker-edit').spectrum({
          showPaletteOnly: true,
          showPalette:true,
          hideAfterPaletteSelect:true,
          palette: [
              ['hotpink', 'crimson', 'red', 'orangered', 'coral', 'yellow'],
              ['seagreen', 'green', 'turquoise', 'aqua', 'rebeccapurple', 'indigo']
          ]
      });
      $('#autoStartTimePicker').timepicker();
      $('#autoEndTimePicker').timepicker();
      $('#add_course_dialog').dialog({ autoOpen: false, width: "80%" });

    });
    </script>
  </head>
  <body>
    <div class="box">
      <div class="row header">
        <div class="logo-container">
          <img class="logo" src="{% static 'cal/logo.png' %}" />
        </div>

        <form class="form-add-class" name="enter-class" onsubmit="return false">
          <input name="course_str" type="text" id="course_str" placeholder="Add course by number (e.g. CS103)" />
          <input name="Submit" value="Add course" onclick="add_course()" type="Submit"
                                                                         class="add-course-submit" />
        </form>

        <div class="logout-container">
            <p>Welcome, <b>{{ user }}</b>.</p>
            <p>
              <ul id="menu"><li>
                  <div><span class="ui-icon ui-icon-plus"></span>Actions...</div>
                <ul>
                  <li><div>
                      <span class="ui-icon ui-icon-calendar"></span>
                      <a href="{% url 'cal:export' %}">Export</a>
                  </div></li>
                  <li><div>
                      <span class="ui-icon ui-icon-clipboard"></span>
                      <a href="#" onclick="initialize_edit_auto_event_dialog()">Auto events</a>
                    </div></li>
                  <li><div>
                    <form id="logout_form" action="/accounts/logout/" method="post">
                      {% csrf_token %}
                      <span class="ui-icon ui-icon-arrowthickstop-1-w"></span>
                      <a href="#" onclick="document.getElementById('logout_form').submit()">Logout</a>
                    </form>
                  </div></li>
                </ul>
              </li></ul>
            </p>
            <script type="text/javascript">
$( "#menu" ).menu({
  position: { my: "center top", at: "bottom" }
});
            </script>
        </div>
      </div>

      <div id="dialog" style="display: none" title="Edit event">
        <form id="editEventForm">
          <p>
            Title: <input type="text" id="editEventTitle" class="textbox-name">
            <span class="form-error-text label-name" style="display:none"></span>
          </p>
          <p>
            Start date: <input type="text" id="editEventStartDate" class="textbox-date">
            <span class="form-error-text label-date" style="display:none"></span>
            Start time: <input type="text" id="startTimePicker" class="textbox-start_time">
            <span class="form-error-text label-start_time" style="display:none"></span>
          </p>
          <p>
            End date: <input type="text" id="editEventEndDate" class="textbox-date">
            <span class="form-error-text label-date" style="display:none"></span>
            End time: <input type="text" id="endTimePicker" class="textbox-end_time">
            <span class="form-error-text label-end_time" style="display:none"></span>
          </p>
          <p>
            Event Color: <input id="colorpicker-edit">
          </p> 
          <p>
            Event type:
            {{ event_form.event_type }}
          </p>
          <button class="small-button" name="EditEvent" id="editEventBtn" value="Submit" type="Submit"> Submit </button>
          <button class="small-delete-button" name="DeleteEvent" id="deleteEventBtn" type="button"> Delete Event </button>
        </form>
      </div>

      <div id="createEventDialog" style="display: none" title="Create event">
        <form id="createEventForm">
          <p>
            Title: <input type="text" id="createEventTitle" class="textbox-name">
            <span class="form-error-text label-name" style="display:none"></span>
          </p>
          <p>
            Start date: <input type="text" id="createEventStartDate" class="textbox-date">
            <span class="form-error-text label-date" style="display:none"></span>
            Start time: <input type="text" id="createEventStartTimePicker"
              class="textbox-start_time">
            <span class="form-error-text label-start_time" style="display:none"></span>
          </p>
          <p>
            End Date: <input type="text" id="createEventEndDate" class="textbox-date">
            <span class="form-error-text label-date" style="display:none"></span>
            End time: <input type="text" id="createEventEndTimePicker" class="textbox-end_time">
            <span class="form-error-text label-end_time" style="display:none"></span>
          </p>
          <p>
            Event Color: <input id="colorpicker-create"> 
          </p>
          <p>
            Event type:
            {{ event_form.event_type }}
          </p>
          <button class="small-button" name="CreateEvent" value="Submit" type="Submit"> Submit </button>
        </form>
      </div>
 
      <div id="edit_auto_event_dialog" style="display: none" title="Edit auto events">
        <form class="form-edit-auto-event" name="edit-auto-event" id="edit-auto-event" onsubmit="return false">
          Event type:
          {{ event_form.event_type }}

          <p>
            Default start time: <input type="text" id="autoStartTimePicker" class="textbox-start_time">
            <span class="form-error-text label-start_time" style="display:none"></span>
          </p>

          <p>
            Default end time: <input type="text" id="autoEndTimePicker" class="textbox-end_time">
            <span class="form-error-text label-end_time" style="display:none"></span>
          </p>

          <input name="Submit" value="Edit auto event" onclick="edit_auto_event_submit()" type="Submit"                                                                       class="edit-auto-event-submit" />
        </form>
      </div>

      <div id="add_course_dialog" style="display: none" title="Choose sections">
        <div style="overflow: auto; max-height: 400px">
          <h2 id="course_title"></h2>
          <form id="sections" method="post" action="/cal/add_sections">
            {% csrf_token %}
            <div id="sections_div"></div>
            <button class="small-button" name="EditEvent" value="Submit" type="Submit">Add schedules!</button>
          </form>
        </div>
      </div>

      <div class="row content">
        <div id='calendar'></div>
      </div>
    </div>
  </body>
</html>
