{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.css' />
    <link rel='stylesheet' href='{% static "styles.css" %}' />
    <link rel='stylesheet' href='{% static "cal/cal.css" %}' />
    <link rel='stylesheet' href='{% static "cal/jquery.timepicker.css" %}' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.js'></script>
    <script src='{% static "cal/jquery.timepicker.min.js" %}'> </script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js'></script>
    <script type="text/javascript">

    function add_course() {
      var course_str = $('#course_str').val();
      if (!course_str) {
        alert('Please enter search string!');
      }

      $.get('/cal/get_sections', { course_str: course_str }, function(data) {
        var add_course_dialog = $('#add_course_dialog');
        add_course_dialog.dialog('close');

        if (data.error) {
          alert('No course found!');
        } else {
          $('#course_title').text(data.course_title);
          var sections_div = $('#sections_div');
          sections_div.empty();
          $.each(data.sections, function(i, item) {
            var p = $('<p />').appendTo(sections_div);

            var ckbox_id = 'section' + item.section_id;
            var checked = (item.component == 'LEC');
            $('<input />', {
              type: 'checkbox', name: 'sections', id: ckbox_id, value: item.section_id,
              checked: checked
            }).appendTo(p);
            var description = 'Section #' + item.section_number +
              ' (' + item.component + '): ' + item.schedule;
            if (item.instructors) {
              description += ' with ' + item.instructors;
            }
            $('<label />', { 'for': ckbox_id, text: description }).appendTo(p);
          });
          add_course_dialog.dialog('open');
        }
      }, 'json');
    }

    $(document).ready(function() {
      /* Set up CSRF token for AJAX requests. */
      /* Taken from https://docs.djangoproject.com/en/1.10/ref/csrf/#ajax. */
      var csrftoken = Cookies.get('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

		$('#calendar').fullCalendar({
      height: 'parent',
      nowIndicator: true,
			header: {
			  left: 'prev, next, today',
			  center: 'title', 
			  right: 'agendaWeek,agendaDay,month'
			},
			eventClick: function(calEvent, jsEvent, view) {
				$('#dialog').dialog("destroy");
				$('#dialog').dialog();
				$('#editEventTitle').val(calEvent.title); //Defaults to the event's title
				start = calEvent.start.local().toDate();
				end = calEvent.end.local().toDate();
				$('#startTimePicker').timepicker('setTime', start); //Defaults to the event's current start time
				$('#endTimePicker').timepicker('setTime', end);
				$('#editEventBtn').off(); //Remove all previous handlers from the buttons
				$('#delete-event-btn').off();

				$('#editEventBtn').click(function() {
          var title = $('#editEventTitle').val();
          var start_time = $('#startTimePicker').timepicker('getTime', start);
          var end_time = $('#endTimePicker').timepicker('getTime', end);

          $.post(
            '/cal/edit_event?event_id=' + calEvent.id,
            { title: title, start: moment(start_time).format('MM/DD/YYYY h:mm:ss A'),
              end: moment(end_time).format('MM/DD/YYYY h:mm:ss A') }
          ).done(function(data) {
            $('#calendar').fullCalendar('refetchEvents');
            $('#dialog').dialog("close");
          }).fail(function(jqXHR, textStatus, errorThrown) {
            window.alert('Edit event failed: ' + errorThrown);
          });
	            });

	            $('#delete-event-btn').click(function() {
                $.post('/cal/delete_event', { event_id: calEvent.id }, function() {
                  $('#calendar').fullCalendar('refetchEvents');
                });
					$('#dialog').dialog("close");
				})
			},
			events: '/cal/get_event_feed', //Fetches events as a json feed from this url
			defaultView: 'agendaWeek',
			navLinks: true,
			selectable: true,
			selectHelper: true,
			select: function(start, end, jsEvent) {
				var title = prompt("Event Title");
				if (title) {
          $.post('/cal/add_event', {
            title: title, start: start.format(), end: end.format()
          }, function(data) {
            $('#calendar').fullCalendar('refetchEvents');
          }, 'json').fail(function(jqXHR, textStatus, errorThrown) {
            window.alert('Add event failed: ' + errorThrown);
          });
				}
				$('#calendar').fullCalendar('unselect');
			},
      eventResize: function(calEvent, delta, revertFunc) {
        $.post(
          '/cal/edit_event?event_id=' + calEvent.id,
          { title: calEvent.title, start: calEvent.start.format(), end: calEvent.end.format() }
        ).done(function(data) {
          $('#calendar').fullCalendar('refetchEvents');
          $('#dialog').dialog("close");
        }).fail(function(jqXHR, textStatus, errorThrown) {
          window.alert('Edit event failed: ' + errorThrown);
        });
      },
			editable: true,
			eventLimit: true,
		});

    $('#dialog').dialog({ autoOpen: false });
	$('#startTimePicker').timepicker({ 'scrollDefault': 'now' });
	$('#endTimePicker').timepicker({ 'scrollDefault': 'now' });
    $('#add_course_dialog').dialog({ autoOpen: false, width: "80%" });
    });
    </script>
  </head>
  <body>
  	<form id="logout" class="upper-right" action="/accounts/logout/" method="post">
  		{% csrf_token %}
  		<button class="button" name="Logout" value="Logout" type="Submit">Logout</button> 
  	</form>

    <div class="box">
      <div class="row header">
        <form id="enter-class" class="form-add-class" name="enter-class" onsubmit="return false"> 
        <span class="form-signin-heading"> Enter a class (e.g., CS103):
          <input name="course_str" type="text" id="course_str" /> </span>
          <button name="Submit" value="Enter" onclick="add_course()" type="Submit">Add class</button> 
        </form>
      </div>
      <div id="dialog" style="display: none" title="Edit event">
      	<p>Title: <input type="text" id="editEventTitle"></p>
      	<p>Start time: <input type="text" id="startTimePicker"></p>
      	<p>End time: <input type="text" id="endTimePicker"></p>
      	<button class="small-button" name="EditEvent" id="editEventBtn" value="Submit" type="Submit"> Submit </button>
      	<button class="small-delete-button" name="DeleteEvent" id="delete-event-btn" value="Submit" type="Submit"> Delete Event </button>
      </div>

      <div id="add_course_dialog" style="display: none" title="Choose sections">
        <div style="overflow: auto; max-height: 400px">
          <h2 id="course_title"></h2>
          <form id="sections" method="post" action="/cal/add_sections">
            {% csrf_token %}
            <div id="sections_div"></div>
            <button class="small-button" name="EditEvent" value="Submit" type="Submit">Add schedules!</button>
          </form>
        </div>
      </div>

      <div class="row content">
        <div id='calendar'></div>
      </div>
    </div>
  </body>
</html>
