{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Schedulr</title>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.css' />
    <link rel='stylesheet' href='{% static "styles.css" %}' />
    <link rel='stylesheet' href='{% static "cal/cal.css" %}' />
    <link rel='stylesheet' href='{% static "cal/jquery.timepicker.css" %}' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.js'></script>
    <script src='{% static "cal/jquery.timepicker.min.js" %}'> </script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js'></script>

    <script src='//cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js'></script>

    <script type="text/javascript">
    var DATETIME_FORMAT = 'YYYY-MM-DD HH:mm:SS';

    function add_course() {
      var course_str_box = $('#course_str');
      var course_str = course_str_box.val();
      if (!course_str) {
        course_str_box.notify('Please enter search string!', { 'position': 'bottom' });
        return;
      }

      $.get('/cal/get_sections', { course_str: course_str }, function(data) {
        var add_course_dialog = $('#add_course_dialog');
        add_course_dialog.dialog('close');

        if (data.error) {
          $.notify('Course "' + course_str + '" not found.');
        } else {
          $('#course_title').text(data.course_title);
          var sections_div = $('#sections_div');
          sections_div.empty();
          $.each(data.sections, function(i, item) {
            var p = $('<p />').appendTo(sections_div);

            var ckbox_id = 'section' + item.section_id;
            var checked = (item.component == 'LEC');
            $('<input />', {
              type: 'checkbox', name: 'sections', id: ckbox_id, value: item.section_id,
              checked: checked
            }).appendTo(p);
            var description = 'Section #' + item.section_number +
              ' (' + item.component + '): ' + item.schedule;
            if (item.instructors) {
              description += ' | ' + item.instructors;
            }
            $('<label />', { 'for': ckbox_id, text: description }).appendTo(p);
          });
          add_course_dialog.dialog('open');
        }
      }, 'json');
    }

    $(document).ajaxError(function(event, request, settings) {
      if (request.readyState == 0) {
        $.notify("Connection failed. Please check your internet connection.");
      } else if (request.status == 500) {
        $.notify("Something has gone wrong on the server side (500). Please retry.");
      }
    });

    $(document).ready(function() {
      $.notify.defaults({
        className: 'info',
        globalPosition: 'top center',
        style: 'bootstrap',
      });

      /* Set up CSRF token for AJAX requests. */
      /* Taken from https://docs.djangoproject.com/en/1.10/ref/csrf/#ajax. */
      var csrftoken = Cookies.get('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      $('#calendar').fullCalendar({
        height: 'parent',
        nowIndicator: true,
        header: {
          left: 'prev, next, today',
          center: 'title',
          right: 'agendaWeek,agendaDay,month'
        },
        eventClick: function(calEvent, jsEvent, view) {
          $('#dialog').dialog("destroy");
          $('#dialog').dialog();
          $('#editEventTitle').val(calEvent.title); //Defaults to the event's title
          var start = calEvent.start.local().toDate();
          var end = calEvent.end.local().toDate();
          $('#startTimePicker').timepicker('setTime', start); //Defaults to the event's current start time
          $('#endTimePicker').timepicker('setTime', end);
          $('#editEventForm').off(); //Remove all previous handlers from the buttons
          $('#deleteEventBtn').off();

          $('#editEventForm').submit(function() {
            var title = $('#editEventTitle').val();
            var start_time = $('#startTimePicker').timepicker('getTime', start);
            var end_time = $('#endTimePicker').timepicker('getTime', end);

            $.post(
                '/cal/edit_event_abs/' + calEvent.id,
                { name: title, start_time: moment(start_time).format(DATETIME_FORMAT),
                  end_time: moment(end_time).format(DATETIME_FORMAT) }
                ).done(function(data) {
              $('#calendar').fullCalendar('refetchEvents');
              $('#dialog').dialog("close");
            }).fail(function(jqXHR, textStatus, errorThrown) {
              window.alert('Edit event failed: ' + errorThrown);
            });

            return false;
          });

          $('#deleteEventBtn').click(function() {
            $.post('/cal/delete_event/' + calEvent.id, function() {
              $('#calendar').fullCalendar('refetchEvents');
            });
            $('#dialog').dialog("close");
            $('#createEventDialog').dialog("close");
          })
        },
        events: '/cal/get_event_feed', //Fetches events as a json feed from this url
        defaultView: 'agendaWeek',
        navLinks: true,
        selectable: true,
        selectHelper: true,
        select: function(start, end, jsEvent) {
          $('#createEventDialog').dialog("destroy");
          $('#createEventDialog').dialog();
          $('#createEventTitle').val('');
          var start_date_obj = start.local().toDate();
          var end_date_obj = end.local().toDate();
          $('#createEventStartTimePicker').timepicker('setTime', start_date_obj); //Defaults to the event's current start time
          $('#createEventEndTimePicker').timepicker('setTime', end_date_obj);
          $('#createEventForm').off(); //Remove all previous handlers from the buttons

          $('#createEventForm').submit(function() {
            var title = $('#createEventTitle').val();
            var start_time = $('#createEventStartTimePicker').timepicker('getTime', start);
            var end_time = $('#createEventEndTimePicker').timepicker('getTime', end);
            if (title) {
              $.post('/cal/add_event', {
                name: title, start_time: moment(start_time).format(DATETIME_FORMAT),
                end_time: moment(end_time).format(DATETIME_FORMAT)
              }, function(data) {
                $('#createEventDialog').dialog("close");
                $('#calendar').fullCalendar('unselect');
                $('#calendar').fullCalendar('refetchEvents');
              }, 'json').fail(function(jqXHR, textStatus, errorThrown) {
                window.alert('Add event failed: ' + errorThrown);
              });
            }
            return false;
          });
        },
        eventResize: function(calEvent, delta, revertFunc) {
          $.post('/cal/edit_event_rel/' + calEvent.id,
            { name: calEvent.title, duration_delta: delta.asSeconds() }
          ).done(function(data) {
            $('#calendar').fullCalendar('refetchEvents');
            $('#dialog').dialog("close");
            $('#createEventDialog').dialog("close");
          }).fail(function(jqXHR, textStatus, errorThrown) {
            revertFunc();
            $.notify("Edit event failed. Please try again.");
          });
        },
        eventDrop: function(calEvent, delta, revertFunc) {
          $.post('/cal/edit_event_rel/' + calEvent.id,
            { name: calEvent.title, time_delta: delta.asSeconds() }
          ).done(function(data) {
            $('#calendar').fullCalendar('refetchEvents');
            $('#dialog').dialog("close");
          }).fail(function(jqXHR, textStatus, errorThrown) {
            revertFunc();
            $.notify("Edit event failed. Please try again.");
          });
        },
        editable: true,
        eventLimit: true,
        allDaySlot: false,
      });

      $('#dialog').dialog({ autoOpen: false });
      $('#createEventDialog').dialog({ autoOpen: false });
      $('#createEventStartTimePicker').timepicker({ 'scrollDefault': 'now' });
      $('#createEventEndTimePicker').timepicker({ 'scrollDefault': 'now' });
      $('#startTimePicker').timepicker({ 'scrollDefault': 'now' });
      $('#endTimePicker').timepicker({ 'scrollDefault': 'now' });
      $('#add_course_dialog').dialog({ autoOpen: false, width: "80%" });
    });
    </script>
  </head>
  <body>
    <form id="logout" class="upper-right" action="/accounts/logout/" method="post">
      {% csrf_token %}
      <button class="button" name="Logout" value="Logout" type="Submit">Logout</button>
    </form>

    <div class="box">
      <div class="row header">
        <form id="enter-class" class="form-add-class" name="enter-class" onsubmit="return false"> 
          <span class="enter-class-text"> Enter a class (e.g., CS103):</span>
          <input name="course_str" type="text" id="course_str" />
          <button name="Submit" value="Enter" onclick="add_course()" type="Submit">Add class</button> 
        </form>
      </div>

      <div id="dialog" style="display: none" title="Edit event">
        <form id="editEventForm">
          <p>Title: <input type="text" id="editEventTitle"></p>
          <p>Start time: <input type="text" id="startTimePicker"></p>
          <p>End time: <input type="text" id="endTimePicker"></p>
          <button class="small-button" name="EditEvent" id="editEventBtn" value="Submit" type="Submit"> Submit </button>
          <button class="small-delete-button" name="DeleteEvent" id="deleteEventBtn" type="button"> Delete Event </button>
        </form>
      </div>

      <div id="createEventDialog" style="display: none" title="Create event">
        <form id="createEventForm">
          <p>Title: <input type="text" id="createEventTitle"></p>
          <p>Start time: <input type="text" id="createEventStartTimePicker"></p>
          <p>End time: <input type="text" id="createEventEndTimePicker"></p>
          <button class="small-button" name="CreateEvent" value="Submit" type="Submit"> Submit </button>
        </form>
      </div>

      <div id="add_course_dialog" style="display: none" title="Choose sections">
        <div style="overflow: auto; max-height: 400px">
          <h2 id="course_title"></h2>
          <form id="sections" method="post" action="/cal/add_sections">
            {% csrf_token %}
            <div id="sections_div"></div>
            <button class="small-button" name="EditEvent" value="Submit" type="Submit">Add schedules!</button>
          </form>
        </div>
      </div>

      <div class="row content">
        <div id='calendar'></div>
      </div>
    </div>
  </body>
</html>
