html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
  background-color: #eee;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.box .row.header a {
  color: blue;
  text-decoration: none;
}

.box .row.header .logo-container {
  height: 50px;
}

.box .row.header img.logo {
  height: 100%;
}

.box .row.content {
  flex: 1 1 auto;
  margin: 10px;
}

.form-add-class {
  margin-left: 25px;
  margin-right: auto;
}

.form-add-class #course_str {
  padding-left: 3px;
  padding-right: 3px;
  width: 300px;
  height: 24px;
}

.form-add-class .add-course-submit {
  height: 30px;
}

.form-error-text {
  display: block;
  color: red;
  font-size: 0.8em;
  padding-top: 10px;
}

.form-edit-auto-event {
  padding-top: 10px;
}

.logout-container {
  text-align: right;
}

.logout-container a {
  font-weight: bold;
}

.logout-container p {
  margin: 0;
}

.smart-scheduled-event {
  opacity: 0.5;
}

.textbox-start_time {
  width: 70px;
}

.textbox-end_time {
  width: 70px;
}

.Exercise {
  background-color: #7e8c23;
}

.Class {
  background-color: #8c2338;
}

.Shower {
  background-color: #51124e;
}